@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?9goitm');
  src: url('../fonts/icomoon.eot?9goitm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?9goitm') format('truetype'),
    url('../fonts/icomoon.woff?9goitm') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-round-check:before {
  content: '\e921';
}
.icon-shape:before {
  content: '\e92c';
}
.icon-email:before {
  content: '\e90a';
}
.icon-watch:before {
  content: '\e92b';
}
.icon-arrow-right-double:before {
  content: '\e902';
}
.icon-calendar-1:before {
  content: '\e905';
}
